@charset "UTF-8";
* {
  margin: 0;
}

body {
  background: #242B33;
}

header {
  width: 100%;
  height: 960px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("img/headerBack.jpg") no-repeat;
  background-size: 100%;
}

.Anima {
  position: absolute;
  left: 121px;
  margin-top: 64px;
  font-family: Post No Bills Jaffna SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #D4C17F;
}

.subH2 {
  position: absolute;
  left: 121px;
  margin-top: 116px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  color: #D4C17F;
}

.menu {
  position: absolute;
  width: 700px;
  left: 349px;
  margin-top: 94px;
}

h2 {
  float: left;
  margin: 0 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #D4C17F;
}

header h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 417px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #D4C17F;
}

.description {
  position: absolute;
  width: 100%;
  height: 96px;
  margin-right: 5%;
  top: 841px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  color: #D4C17F;
}

.linemain {
  width: 100%;
  height: 104px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.623054) 47.39%, rgba(255, 255, 255, 0.614583) 47.4%, rgba(110, 250, 0, 0) 100%), #D4C17F;
}

.line {
  width: 100%;
  height: 104px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.614583) 47.4%, rgba(255, 255, 255, 0) 100%), #D4C17F;
}

.title {
  width: 277px;
  height: 61px;
  margin-left: 72px;
  font-family: Post No Bills Jaffna SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  color: #242B33;
}

.more {
  margin-left: 85%;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #000000;
}

.blockPhotoImg {
  padding: 30px 16px;
  width: 1100px;
  height: 950px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.forSixImg {
  float: left;
  width: 300px;
  height: 420px;
  margin: 20px;
}

.blockPhotoImg2 {
  padding: 30px 16px;
  width: 1600px;
  height: 200px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.forThreeImg {
  float: left;
  width: 400px;
  height: 200px;
  margin: 20px;
}

.arrow {
  float: left;
  width: 70px;
  height: 200px;
  margin: 20px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 192px;
  color: #D4C17F;
}

.descriptionPost {
  width: 1350px;
  height: 100px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.blockQuotes {
  padding: 30px 16px;
  width: 1600px;
  height: 600px;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.item, p {
  float: left;
  width: 405px;
  margin: 0 15px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #D4C17F;
}

.descriptionPost p {
  float: left;
  width: 405px;
  margin: 0 15px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #D4C17F;
}

.blockQuotes h4 {
  width: 450px;
  padding-top: 175px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #D4C17F;
}

#lineBr {
  width: 500px;
  border: 1px solid #D4C17F;
  transform: rotate(-0.23deg);
  margin: 20px auto;
}

#titleQuestion {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin: 20px auto;
  color: #D4C17F;
}

.button {
  padding: 30px;
  width: 1000px;
  height: 100px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

button {
  float: left;
  padding: 20px;
  margin: 20px;
  width: 255px;
  height: 50px;
  color: #FFFFFF;
  background: rgba(190, 190, 190, 0.13);
}

footer {
  margin-top: 10px;
  height: 275px;
  background: #2D343C;
}

p {
  position: absolute;
  left: 1275px;
  margin-top: 100px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.icon {
  position: absolute;
  display: block;
  margin-left: 1275px;
  margin-top: 150px;
  width: 100px;
}

.someIcon {
  float: left;
  height: 15px;
  margin-right: 10px;
}

/*<div class="descriptionPost">
 *      <h4>Оскар Уайльд «Портрет Доріана <br> Грея»</h4>
 *      <h4>Пауло Коульо «Вероника решает<br> умереть»</h4>
 *      <h4>Леся Українка «Блакитна троянда»</h4>
 *  </div>
 *  <br><h4>Оскар Уайльд «Портрет Доріана <br> Грея»</h4>
 *  */

/*# sourceMappingURL=index.css.map */
